# Python

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment

venv/
env/
ENV/

# Jupyter Notebook

.ipynb_checkpoints

# VS Code

.vscode/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log

# Power BI (اختياري حسب الحجم)

# لو pbix كبير سيبه خارج git أو استخدم Git LFS

# *.pbix

# Data files (اختياري)

# لو الداتا كبيرة أو حساسة

# data/*.csv
